* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.x-menu {
  margin: 1rem;
  background-color: green;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  animation-name: x-men;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.x-menu:hover {
  background-color: red;
  z-index: -1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: x-men;
  animation-duration: 5s;
}

.line-one,
.line-sec {
  width: 3rem;
  height: 0.4rem;
  background-color: yellow;
  animation-name: x-men;
  border-radius: 20%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.x-menu:hover .line-one {
  width: 3rem;
  height: 0.4rem;
  border-radius: 20%;
  animation-name: x-men;
  transform: skew(20deg, 30deg);
  position: absolute;
  animation-duration: 5s;
}

.x-menu:hover .line-sec {
  width: 3rem;
  height: 0.4rem;
  border-radius: 20%;
  animation-name: x-men;
  transform: skew(-20deg, -30deg);
  position: absolute;
  animation-duration: 5s;
}
